In [17]:
import sys
from pathlib import Path

#Path.cwd().parent depends on where you run this code from
#Path(__file__).resolve().parents[1] depends on where this file is located on disk
#
#project_root = .../1099-reconciliation-pipeline
project_root = Path.cwd().parent  # running from notebooks/  folder (cwd = current working directory) - .parent gets us to the folder above
sys.path.append(str(project_root)) #sys.path is a list of folders where python looks for modules
                                    # we add the project root to that list with .append

print(project_root)

/Users/manuelreyes/Desktop/dev/1099_reconciliation_pipeline

In [18]:
import pandas as pd

from src import load_data

In [ ]:
from src.config import RAW_DATA_DIR

relius_path = RAW_DATA_DIR / "real_relius_2025.xlsx"
matrix_path = RAW_DATA_DIR / "real_matrix_2025.xlsx"

# Calling the load_data.py functions to load the raw data
# returns uncleaned pandas DataFrames
relius_raw = load_data.load_relius_excel(path=relius_path, use_sample_if_none=False)
matrix_raw = load_data.load_matrix_excel(path=matrix_path, use_sample_if_none=False)

# .shape is an attribute of pandas DataFrames that returns a tuple of
# (number of rows, number of columns) - e.g. (1000, 15)
relius_raw.shape, matrix_raw.shape

((253, 374), (60972, 56))

'--------------------------------  Test Raw Files  --------------------------------'

In [23]:
# .columns is an attribute of pandas DataFrames that returns
# the column names as an Index object - we convert it to a list for easier viewing
relius_raw.columns.tolist()
matrix_raw.columns.tolist()

['Matrix Account',
 'Account Name',
 'Transaction Date',
 'Transaction Type',
 'Net Amount',
 'Payee Name',
 'Status',
 'Participant SSN',
 'Participant Name',
 'Gross Amount',
 'Fed Wages',
 'Fed Withholding',
 'State Withholding',
 'Tax State',
 'Loan Default Amount',
 'Fed Taxable Amount',
 'Employee Roth Contributions',
 'Tax Code',
 'Tax Code 2',
 'Transaction Id',
 'Client Account',
 'TPA',
 'Recurring',
 'Fed Ref Number',
 'ACH Trace Id',
 'Check Number',
 'Check Date',
 'Reissue',
 'Check Clear Date',
 'Special Handling Carrier',
 'Tracking Number',
 'Participant Address 1',
 'Participant Address 2',
 'Participant City',
 'Participant State',
 'Participant Zip',
 'Payee Address 1',
 'Payee Address 2',
 'Payee City',
 'Payee State',
 'Payee Zip',
 'Payee Bank Account Number',
 'Payee ABA',
 'Payee Bank Name',
 'Additional Notes',
 'Tax Form',
 'Roth Initial Contribution Year',
 'Distribution Type',
 'State Taxable Amount',
 'Taxable Amount Not Determined',
 'Federal Taxing Method',
 'State Taxing Method',
 'Created By',
 'Created Date',
 'Approved By',
 'Approved Date']

In [ ]:

# When [[...]] is used, it returns a DataFrame with only the selected columns
# When [...] is used, it returns a Series (one column, like a vector) with only the selected column
# Here we display the first 5 rows of selected columns from each DataFrame - .head() defaults to 5 rows
matrix_raw[["Client Account", "Participant SSN", "Participant Name", "Participant State", "Gross Amount", "Transaction Date", "Tax Code"]].head()
relius_raw[["PLANID_1", "SSNUM_1", "FIRSTNAM", "LASTNAM", "STATEADDR", "GROSSDISTRAMT", "EXPORTEDDATE", "DISTR1CD"]].head()

,PLANID_1,SSNUM_1,FIRSTNAM,LASTNAM,STATEADDR,GROSSDISTRAMT,EXPORTEDDATE,DISTR1CD
0,300004MBD,194420270,David,Symons,PA,3347.62,2025-06-11,4
1,300004MBD,197323440,James,McNamee,PA,12623.05,2025-06-11,4
2,300004MBD,194420270,David,Symons,PA,2652.38,2025-06-13,4
3,300004MBD,194420270,David,Symons,PA,0.00,NaT,
4,300004MBD,197526965,David,Kich,PA,3000.00,2025-06-17,4

In [ ]:
# .info() gives a quick summary of the whole table (not the data itself), showing: number of rows and columns, columns names,
# each column's dtype(int, float, object str, datetime, etc.), how many non-null values per column, memory usage.
relius_raw.info()
matrix_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Columns: 374 entries, PLANID to MANLTAXPCT
dtypes: datetime64[ns](8), float64(83), int64(101), object(182)
memory usage: 739.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60972 entries, 0 to 60971
Data columns (total 56 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Matrix Account                  60969 non-null  object
 1   Account Name                    60968 non-null  object
 2   Transaction Date                60968 non-null  object
 3   Transaction Type                60968 non-null  object
 4   Net Amount                      60968 non-null  float64
 5   Payee Name                      7144 non-null   object
 6   Status                          60968 non-null  object
 7   Participant SSN                 7065 non-null   float64
 8   Participant Name                7054 non-null   object
 9   Gross Amount                    60968 non-null  float64
 10  Fed Wages                       60968 non-null  float64
 11  Fed Withholding                 60968 non-null  float64
 12  State Withholding               60968 non-null  float64
 13  Tax State                       7050 non-null   object
 14  Loan Default Amount             60968 non-null  float64
 15  Fed Taxable Amount              60968 non-null  float64
 16  Employee Roth Contributions     60968 non-null  float64
 17  Tax Code                        7190 non-null   object
 18  Tax Code 2                      150 non-null    object
 19  Transaction Id                  60968 non-null  float64
 20  Client Account                  31037 non-null  object
 21  TPA                             60968 non-null  float64
 22  Recurring                       60968 non-null  object
 23  Fed Ref Number                  0 non-null      float64
 24  ACH Trace Id                    0 non-null      float64
 25  Check Number                    1481 non-null   float64
 26  Check Date                      1481 non-null   object
 27  Reissue                         1516 non-null   object
 28  Check Clear Date                1301 non-null   object
 29  Special Handling Carrier        37 non-null     object
 30  Tracking Number                 93 non-null     object
 31  Participant Address 1           7050 non-null   object
 32  Participant Address 2           380 non-null    object
 33  Participant City                7023 non-null   object
 34  Participant State               7023 non-null   object
 35  Participant Zip                 7021 non-null   object
 36  Payee Address 1                 1516 non-null   object
 37  Payee Address 2                 207 non-null    object
 38  Payee City                      1516 non-null   object
 39  Payee State                     1516 non-null   object
 40  Payee Zip                       1512 non-null   object
 41  Payee Bank Account Number       5628 non-null   float64
 42  Payee ABA                       5628 non-null   float64
 43  Payee Bank Name                 5628 non-null   object
 44  Additional Notes                54038 non-null  object
 45  Tax Form                        60968 non-null  object
 46  Roth Initial Contribution Year  242 non-null    float64
 47  Distribution Type               433 non-null    object
 48  State Taxable Amount            60968 non-null  float64
 49  Taxable Amount Not Determined   60968 non-null  object
 50  Federal Taxing Method           6758 non-null   object
 51  State Taxing Method             6758 non-null   object
 52  Created By                      60968 non-null  object
 53  Created Date                    60968 non-null  object
 54  Approved By                     1331 non-null   object
 55  Approved Date                   1331 non-null   object
dtypes: float64(18), object(38)
memory usage: 26.1+ MB

In [ ]:
# .describe() gives summary statis for numeric columns(default)

# df[[..]] stats as a DataFrame(good for multiple columns or further processing)
# df[..] stats as a Series(one column vector)

relius_raw[["GROSSDISTRAMT"]].describe()
matrix_raw[["Gross Amount"]].describe()

       Gross Amount
count  6.096800e+04
mean   6.850697e+03
std    4.174578e+04
min    0.000000e+00
25%    6.809500e+01
50%    3.500000e+02
75%    1.400000e+03
max    2.031957e+06

Notes regarding df[[...]] and [...]:

- Calling .describe() on a DataFrame [[...]] returns another DataFrame of stats.
    - the result as a DataFrame makes easier to combine with other tables or export.

- Calling .describe() on a Series [...] returns a Series of stats.
    - the result as a series (one column) makes easire just to get stats in a notebook.